<mat-toolbar color="primary">
    <mat-icon class="app-icon">token</mat-icon>
    <span class="appName">Integration Architectures</span>
    <button *ngFor="let button of buttons" [routerLinkActiveOptions]="{exact: true}" [routerLink]="button.routerLink" class="menu-button"
            color="primary" mat-flat-button
            routerLinkActive="active">{{button.title}}</button>
    <!-- *ngFor specifies a foreach loop for rendering an element repeatedly; in double curly braces {{}} javascript-expressions/variables can be printed out to the page -->
    <span class="spacer"></span>
    <span *ngIf="user" class="user-displayname">{{user.firstname + ' ' + user.lastname}}</span>
    <!-- *ngIf contains a condition, which has to be met before this element is rendered -->
    <button (click)="handleLogout()" aria-label="Logout button" mat-icon-button>
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
