<h1>Salesmen</h1>

<table mat-table class="mat-elevation-z8 cdk-table" style="margin:20px; width:514px" [dataSource]="people">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Employee ID</th>
        <td mat-cell *matCellDef="let person">{{person.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let person">{{person.name}}</td>
    </ng-container>

    <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef>Department</th>
        <td mat-cell *matCellDef="let person">{{person.favourite_color.name}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button class="menu-button" mat-flat-button color="primary" style="margin:20px; width:145px">Add Salesman</button>
<button class="menu-button" mat-flat-button color="primary" style="margin:20px; width:145px">Delete Salesman</button>
<button class="menu-button" mat-flat-button color="primary" style="margin:20px; width:145px">Update Salesman</button>
