<h1>Employees</h1>

<table [dataSource]="salesmen" class="mat-elevation-z8 cdk-table" mat-table style="margin:20px; width:514px">
    <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
        </th>
        <td *matCellDef="let row" mat-cell>
            <mat-radio-button (change)="$event ? selection.toggle(row) : null"
                              (click)="$event.stopPropagation()"
                              [checked]="selection.isSelected(row)">
            </mat-radio-button>
        </td>
    </ng-container>

    <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell>Employee ID</th>
        <td *matCellDef="let salesman" mat-cell>{{salesman.sid}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Name</th>
        <td *matCellDef="let salesman" mat-cell>{{salesman.firstName}} {{salesman.lastName}}</td>
    </ng-container>
    <ng-container matColumnDef="jobTitle">
        <th *matHeaderCellDef mat-header-cell>Job Title</th>
        <td *matCellDef="let salesman" mat-cell>{{salesman.jobTitle}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>

    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>

<button (click)="addSalesman()" class="menu-button" color="primary" mat-flat-button style="margin:20px; width:145px">Add
    Employee
</button>
<button (click)="deleteSalesman()" class="menu-button" color="primary" mat-flat-button style="margin:20px; width:145px">
    Delete Employee
</button>
<button (click)="openDialog()" class="menu-button" color="primary" mat-flat-button style="margin:20px; width:145px">
    Update Employee
</button>
<br>
<button (click)="getSalesmen()" class="menu-button" color="warn" mat-flat-button style="margin:20px; width:200px;">Fetch
    from OrangeHRM
</button>
