<h2>Update Salesman</h2>

<mat-dialog-content>
    <mat-form-field appearance="fill" style="margin:20px" >
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="salesman.firstName">
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin:20px">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="salesman.lastName">
    </mat-form-field>
<div>
    <mat-form-field appearance="fill" style="margin:20px">
        <mat-label>Employee ID</mat-label>
        <input matInput [(ngModel)]="salesman.sid">
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin:20px">
        <mat-label>Job title</mat-label>
        <input matInput [(ngModel)]="salesman.jobTitle">
    </mat-form-field>
</div>

</mat-dialog-content>

<mat-dialog-actions>
    <button style="margin:20px" class="mat-raised-button" (click)="close()">Close</button>
    <button style="margin:20px" class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
