<mat-form-field appearance="fill">
    <mat-label>username</mat-label>
    <input [(ngModel)]="credentials.username" matInput name="username" type="text">
    <!-- [(ngModel)] creates a two-way binding between input & variable -->
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input (keydown.enter)="performLogin()" [(ngModel)]="credentials.password" matInput name="password" type="password">
    <!-- (keydown.enter) specifies an event-handler for pressing the enter key, while this input is focussed -->
</mat-form-field>
<span *ngIf="loginError" class="error">{{loginError}}</span>
<button (click)="performLogin()" class="login" color="primary" mat-raised-button>Log in
</button> <!-- (click) creates a one-way output-binding, which is invoked by click events  -->
